body {
    font-family: "Lobster", cursive !important;
}


canvas {
    width: 400px;
    height: 250px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}


.left-section {
    background-color: #d4edda;
    padding: 20px;
    min-height: 100vh;
    /* Full height */
}

.right-section {
    background-color: whitesmoke;
    padding: 20px;
    min-height: 100vh;
}


.btn {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}